#total_carro{
    font-size: 8em;color: gray;
}
.caja_categorias{
    padding: 5px;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(128, 128, 128, 0.46);
    width: 24%;
    cursor:pointer;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.caja_categorias:hover{
    border:1px solid blue;
}
.caja_categorias .titulo{
    background-color: bisque;
    margin: 0px -5px;
    padding: 10px;
    height: 60px;
    text-align: center;
    margin-bottom: 5px;
}
.caja_categorias .total{
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin-top: -26px;
    margin-left: 64px;
    background-color: white;
    position: relative;
    padding: 5px;
    border-radius: 5px 0 0 0;
    border-left: 1px solid gray;
    border-top: 1px solid gray;

}
.caja_categorias .boton{
padding: 10px;
text-align: center;
}
.label{
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.18);
    background-color: rgba(128, 128, 128, 0.21);
    border-radius: 5px;

}
.btn-carro{
    background-color: yellowgreen !important;
    padding:10px !important;
    border-radius: 5px !important;
    color:gray !important;
}

.btn-carro-delete{
    background-color: orange !important;
    padding:10px !important;
    border-radius: 5px !important;
    color:gray !important;
}
.btn-eliminar{
    
    padding:5px !important;
    border-radius: 5px !important;
    color:white !important;
}